<%- include ("partials/header") %>

<div class="container">
    <div class="row">
        <h1>Create a new restaurant review</h1>
        <div style="width: 30%; margin: 0 auto">
            <form action="/restaurants" method="POST">
            <input class="form-control" type="text" name="name" placeholder="name">
            <input class="form-control" type="text" name="image" placeholder="image url">
            <input class="form-control" type="text" name="description" placeholder="description">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
        </div>
    <a href="/restaurants">Go Back</a>
    </div>
</div>

<%- include ("partials/footer") %>