<h1>This is the restaurants page</h1>

<% restaurants.forEach(function(restaurant){ %>
    <div>
       <h4><%= restaurant.name %></h4> 
       <img src="<%= restaurant.image %>" alt="">
    </div>
<% }) %>

<a href="/">Back to the landing page</a>
